*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(38, 40, 47);
    /* margin-right: 80px; */
    padding: 20px 0px 20px 0px;

}
.logo-head{
    font-weight: 100;
    /* margin-right: 900px; */
    /* margin-left: -1000px; */
    margin-left: 100px;
    color: white;
}
.list-items{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}
.links{
    text-decoration: none;
    /* font-weight: 600; */
    color: rgb(255, 255, 255);
}
.links:hover {
    text-decoration: underline;
    color: blue;
}
/* <!-- paragraph --> */

#paragraph{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-top: 100px;
    line-height: 50px; 
    padding: 20px 0px 20px 0px;

}
/* <!-- links above photo --> */

.lap{
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;

}
.link2{
    text-decoration: none;
    color: black;
}

/*--- photos under the link ---*/

.photos{
    display: grid;
    /* align-items: center; */
    margin-left: 220px;
    grid-template-columns: 350px 350px 350px;
    gap: 15px;
}
.img-w{
    width: 350px;
    /* align-items: center; */
    /* height: 250px; */
    border-radius: 10px;

}
.img5{
    margin-top: -292px;
}

/* <!-- under the photo items & paragraph --> */

.card{
    text-align: center;
    margin-top: 30px;
}
#part3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.part3icon{
    color: black;
    font-size: 30px;
}

/* <!-- black part --> */
#part4{
    margin-top: 70px;
    background-color: rgb(38, 40, 47);
    padding: 50px;
}
.logo-table {
    width: 100%;
    /* margin: 50px auto; */
    border-collapse: collapse;
    /* border: solid 2px; */
}
.logo-table td {
    width: 12.5%;
    text-align: center;
    padding: 20px;
    border:  2px dashed;
    color: white;

}



/* <!-- video --> */

#part5{
    margin-top: 70px;
}
/* .part5img{
    text-align: center;
    width: 100%;
    height: 500px;
} */


/* <!-- content under the video link --> */

.headingpart{
    text-align: center;
    margin: 30px 0px;
    
}
.part6head{
    padding: 30px;
}

/* <!-- 3 photos in the bottom --> */

.part7photos{
    display: grid;
    /* align-items: center; */
    margin-left: 220px;
    grid-template-columns: 350px 350px 350px;
    gap: 15px;
}
.img-v{
    width: 350px;
    /* align-items: center; */
    /* height: 250px; */
    border-radius: 10px;

}
.part7names{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}
.part7role{
    text-align: center;
    font-weight: 300;
}


/* <!-- dropdown and a image(under that 3 photos) --> */
/* -----list and photo------ */
#part8{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.list{
    margin-top: 60px;
    margin-left: 60px;
    width: 40%;
    color: black;
  
}

h5{
 
    color: black;
    font-size: 20px;
    padding : 10px 0px;
    border: dashed black;
    border-radius: 30px;
    margin: 10px;

}

.minus{
    float:right;
  padding-right: 20px;
}
.part6img{
    margin-top: 60px;
    margin-right: 100px;
    
}
.part8img{
    width: 350px;
}



/* footer */
.parent{

    background-color: rgb(38, 40, 47);
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 70px;
    border-top: solid 1px rgb(228, 227, 227);
}
.child{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);

}
.ftr{
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 25px;
}
/* <!-- footer2(nav in botton) --> */
.icons{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    align-items: center;
 
}

.icon{
    width: 50px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    /* border: solid 1px; */
    
}
#contact{
    margin: 20px ;
}
.brands{
    font-size: 27px;
    color: black;
}
.icon:hover{
    background-image: linear-gradient(to bottom right,yellow,red,rgb(225, 5, 225));
}

/* ---------------animation ------------------------ */
.icon:hover .brands{
    animation: shake 3s;
    color: aliceblue;
}
@keyframes shake{
    0%{
        transform: rotate(30deg);
    }
    20%{
        transform: rotate(-30deg);
    }
    40%{
        transform: rotate(30deg);
    }
    60%{
        transform: rotate(-30deg);
    }
    80%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}